[submodule "BonsaiTrees"]
	path = BonsaiTrees
	url = git@github.com:thraaawn/BonsaiTrees.git
[submodule "SlimeClicker"]
	path = SlimeClicker
	url = git@github.com:thraaawn/SlimeClicker.git
[submodule "libnonymous"]
	path = libnonymous
	url = git@github.com:thraaawn/libnonymous.git
